/* ================================= 
  Base Element Styles #74d4b3
==================================== */

* {

  margin: 0;
  padding: 0;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: 1em;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
}

a { 
	color: white; 
	text-decoration: none;
}

h1, h2, h3 {
	margin-top: 0;
	color: #95E1D3;
	text-align: center;
}

img {
	max-width: 100%;
}

ul {
	padding-bottom: 1em;
}

button {
	background-color: #95E1D3;
	border: none;
	margin: 0;
	padding: 1em;
	font-size: 1em;
}


/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Navigation ---- */

.name {
	margin: 0 ;
	padding: 15px 0 0 0;
	font-size: 1.5em;
}

.main-nav {
	margin-left: .5em;
}

.main-nav ul {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 5px;
  list-style: none;
  background-color: #511E78;
  border-bottom: 10px solid #CF56A1; 
}

.main-nav li {
	text-align: center;
	margin-top: .5em;
	margin-bottom: .5em;
	padding: .5em;

}

.main-nav a {
	font-size: .9em;
	text-transform: uppercase;
}

.main-nav a:hover {
	background-color: #8cd3c6;
	border-radius: 5px;
}


.main-nav a {
	padding: .5em;
	display: block;
}

/* ---- Layout Containers ---- */

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
	flex: 1;
}

.header-container {
	padding-left: 0;
	padding-right: .5em;
	padding-bottom: 0;
}


.main-header {
	background: #95E1D3;
	border-bottom: 5px solid #EAFFD0;
	text-align: center;
}


/* ---- Banner ---- */

.banner {
	/*background-color: #8EA1F0;*/
	background-image: url("https://images.unsplash.com/photo-1446071103084-c257b5f70672?crop=entropy&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1275");	
	background-size: cover;
	height: 20%;
	padding: 3.2em 0;
	margin: 0 auto;
	text-align: center;
}

.logo {
	max-width: 30%;
}

.logo,
.headline,
.tagline {
	margin: auto;
}

.headline {
	color: white;
}

/* ---- About ---- */

.about {
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: center;
	    align-items: center;
	    padding: 3em 3em;
		background-color: #cbcbcb;
		border-top: 5px solid #EAFFD0;
		border-bottom: 5px solid #EAFFD0;
  
	}

.about-h1 {
	color: white;
}

.about-h2, .about-h3 {
	color: white;
	padding: 0em;
	text-align: left;
}

/* ---- Profile Picture ---- */

.profile {
	border-radius: 50%;
	max-width: 75%;
}

/* ---- Skills ---- */

.skills {
	padding: 3em 0;
	background-color: #95E1D3;
	border-bottom: 5px solid #EAFFD0;
}

.skills-title {
	color: white;
}

.skills p {
	margin: 0;
	text-align: center;
	margin: 0 auto;
	max-width: 70%;
}

.circles {
	margin: 0 auto;
	padding-top: .5em;
	text-align: center;
	max-width: 85%;
}


/* ---- Portfolio ---- */

figure img {
	display: inline-block;
	float: left;
	margin-right: 3em;
}

figure {
	overflow: auto;
	width: 100%;
	padding-bottom: 3%;
}

figcaption {
	font-size: 1em;

}

.portfolio {
	max-width: 80%;
	margin: 0 auto;
}


.portfolio-title {
	margin: 2em 0;
	color: #95E1D3;
}

.project-name {
	text-align: left;
	padding: .5em 0;
}


/* ---- Case Studies ---- */

.case-studies {
	max-width: 80%;
	margin: 0 auto;
}


.case-title {
	text-align: center;
	padding-top: 5%;
	margin: 0 auto;
	color: #95E1D3;
}

.case-skills {
	color: #95E1D3;
	text-align: center;
}

.case-headings {
	color: #95E1D3;
	text-align: left;
}

.case-img {
	width: 70%;
 	display: block;
    margin: 0 auto;
    padding: 3%;
}


/* ---- Footer ---- */

.main-footer {
	padding: 2em 0;
	background: #95E1D3;
	border-top: 5px solid #EAFFD0;
	color: white;
	text-align: center;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	body {
		padding-top: 68px;
	}

	.main-header {
		position: fixed;
		box-shadow: 0 1px 4px rgba(0,0,0, .4);
		width: 100%;
		top: 0;
		z-index: 1000;
	}

	.name,
	.main-nav li {
		display: inline-block;
	}

	.name {
		width: 300px;
		float: left;
	}

	.main-nav {
		float: right;
	}

	.main-header {
		overflow: auto;
	}

	ul {
		padding: 0;
	}



	/* ---- Columns ---- */

	.col {
		width: 40%;
		display: inline-block;
		float: left;
		vertical-align: top;
		overflow: auto;
		padding-bottom: 5em;

	}

	.col2 {
		margin-left: 10em;

		
	}

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (max-width: 1173px) {

	.col1, .col2 {
		width: 50%;
		display: inline-block;
		float: left;
		vertical-align: top;
		overflow: auto;
		padding-bottom: 5em;

	}

	.col1 {
		margin-right: 5em;
	}

	.col2 {
		margin: 0;
	}

	}

}


